@tailwind base;
@tailwind components;
@tailwind utilities;

/* Suaviza el texto en fondos oscuros */
html,
body {
  @apply bg-black text-white antialiased;
}

/* Utilidad para bordes “glass” si luego la necesitas */
.glass {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.03)
  );
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}
